##################################################################################
#TEMPLATES
templates:
  my_global:
    # Make sure there's at least 30GB free before adding more downloads
    free_space:
      path: /media/local/
      space: 30000
    # torrentz.eu ssl certs always fail
    verify_ssl_certificates: no
    content_filter:
      require:
        - "*.avi"
        - "*.mkv"
        - "*.mpg"
        - "*.mp4"
    regexp:
      reject:
        #- (s|d)ub(s|bed)?\b: {from: title}                    # Block any subbed/dubbed/etc videos
        - \b(duo|tri|quadri|tetra|penta)logy\b: {from: title} # Block series, only accept one at a time
        - \b3-?D\b: {from: title}                             # I don't have any 3D displays
        - \btrailer\b: {from: title}                          # I've gotten a few trailers that matched as movies. VERY annoying
        - \bR5\b: {from: title}                               # The following are poor quality types that somehow got through the quality
        - \bWEBSCR\b: {from: title}                           # features usually due to the title including a keyword like "720p" as well
        - \bscreener\b: {from: title}
        - \bTS\b: {from: title}
        - \bCam\b: {from: title}
        - \bRAW\b: {from: title}
        - \bSpeed.Cd\b: {from: title} #slow
    domain_delay:
      torrentz.eu: 15 seconds
    magnets: no
    retry_failed:
      retry_time: 30 minutes
      retry_time_multiplier: 2 # Amount retry time will be multiplied by after each successive failure
      max_retries: 5
    deluge:
      main_file_only: yes
      keep_subs: yes
      path: /media/local/Downloading/
      main_file_ratio: 0.80 #remove torrent file after uploaded 80%
      removeatratio: yes

  tv_shows:
    include: [ my_series.yml ]
    exists_series:
      - /media/cloud_media/TV Shows/
      - /media/local/TV Shows/
      - /media/local/Downloading/
    quality: hdtv+
    content_size:
      min: 100 #MB
      max: 400 #MB
      strict: yes
    # Look up info on TheTVDB.com to fill in extra info
    thetvdb_lookup: yes
    # Add accepted entries to Deluge and make sure they end up in the correct folder with a nice name
    set:
      # Give folders/files nice names
      movedone: "/media/local/TV Shows/{{series_name}}/Season {{series_season}}/"
      # Rename the "content file" to something nice, use leading slash to force file to top level
      content_filename: >
        /{{ series_name|replace('/', '_')|replace(':', ' -') }} - {% if series_id_type == 'ep' and thetvdb_lookup_season_offset|default(False) %}{{ "S%0.2dE%0.2d"|format((series_season + thetvdb_lookup_season_offset),series_episode) }}{% else %}{{ series_id }}{% endif %}{% if ep_name|default(False) %} - {{ ep_name|replace('/', '_')|replace(':', ' -') }}{% endif %} - {{ quality }}
      queuetotop: yes

  movies:
    exists_movie:
      - /media/cloud_media/Movies/
      - /media/local/Movies/
      - /media/local/Downloading/
    content_size:
      min: 500 #MB
      max: 1300 #MB
      strict: yes
    quality: 720p+ dvdrip+ xvid+ truehd|dtshd|dd5.1|dts|ac3
    imdb_lookup: yes
    trakt_lookup: yes
    set:
      # Give folders/files nice names
      movedone: "/media/local/Movies/{{ imdb_name|replace('/', '_')|replace(':', ' -')|replace(',', '') }} ({{ imdb_year }})"
      # Rename the "content file" to something nice, use leading slash to force file to top level
      content_filename: >
        /{{ imdb_name|replace('/', '_')|replace(':', ' -')|replace(',', '') }} ({{ imdb_year }}) - {{ quality }}
      queuetotop: no

##################################################################################
#TASKS
tasks:
  #Auto downloads new episodes of my TV series
  tv_series_auto:
    priority: 1
    inputs:
      - rss: { url: 'https://torrentz.eu/feed?q=tv' }
      #This is not necessary but sometimes I dont run pc and the above feed only returns the last 100 entries
      #need to workout a better solution
      - rss: { url: 'https://torrentz.eu/feed?q=The+Big+Bang+Theory+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=Fear+The+Walking+Dead+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=Homeland+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=Law+and+Order+SVU+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=Lucifer+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=Narcos+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=Teen+Wolf+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=The+Originals+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=The+Vampire+Diaries+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=The+Walking+Dead+tv' }
      - rss: { url: 'https://torrentz.eu/feed?q=The+X+Files+tv' }
    template:
      - my_global
      - tv_shows
    set:
      label: tv

  #Loads torrents manually downloaded and adds them to deluge
  tv_local:
    priority: 2
    template:
      - my_global
      - tv_shows
    disable:
      - retry_failed
      - regexp
      - content_size
      - quality
    filesystem:
      path: '/home/olga/Downloads/tv_episodes_torrents'
      recursive: yes
      retrieve: files
      regexp: '.*\.torrent$'
    accept_all: yes
    #FlexGet normally expects a task to produce entries on every run, and outputs a warning log entry if no entries were produced
    no_entries_ok: yes
    set:
      label: tv_m
    #Remove accepted torrent file
    exec:
      on_output:
        for_accepted: rm "{{location}}"

  #Loads torrents manually downloaded and adds them to deluge
  movies_local:
    priority: 3
    template:
      - my_global
      - movies
    disable:
      - retry_failed
      - regexp
      - content_size
      - quality
    filesystem:
      path: '/home/olga/Downloads/movie_torrents'
      recursive: yes
      retrieve: files
      regexp: '.*\.torrent$'
    accept_all: yes
    set:
      label: mov_m
    #FlexGet normally expects a task to produce entries on every run, and outputs a warning log entry if no entries were produced
    no_entries_ok: yes
    #Remove accepted torrent file
    exec:
      on_output:
        for_accepted: rm "{{location}}"

  #Run this task to make flexget learn which episodes you already have in the file system
  seed_series_db:
    # The filesystem plugin will find all of your existing episodes
    filesystem:
      regexp: .*(avi|mkv|mpg|mp4)$
      path:
        - /media/cloud_media/TV Shows/
        - /media/local/TV Shows/
      recursive: yes
    include: [ my_series.yml ]
    # We use the manual plugin so that this task only runs when explicitly called
    manual: yes

##################################################################################
#SCHEDULES
schedules:
  - tasks: [ 'tv_series_auto' ]
    interval:
      hours: 2
