##################################################################################
#TEMPLATES
templates:
  my_global:
    # Make sure there's at least 30GB free before adding more downloads
    free_space:
      path: /media/local/
      space: 30000
    # torrentz.eu ssl certs always fail
    verify_ssl_certificates: no
    quality: hdtv+
    content_filter:
      require:
        - "*.avi"
        - "*.mkv"
        - "*.mpg"
        - "*.mp4"
    regexp:
      reject:
        #- (s|d)ub(s|bed)?\b: {from: title}                    # Block any subbed/dubbed/etc videos
        - \b(duo|tri|quadri|tetra|penta)logy\b: {from: title} # Block series, only accept one at a time
        - \b3-?D\b: {from: title}                             # I don't have any 3D displays
        - \btrailer\b: {from: title}                          # I've gotten a few trailers that matched as movies. VERY annoying
        - \bR5\b: {from: title}                               # The following are poor quality types that somehow got through the quality
        - \bWEBSCR\b: {from: title}                           # features usually due to the title including a keyword like "720p" as well
        - \bscreener\b: {from: title}
        - \bTS\b: {from: title}
        - \bCam\b: {from: title}
        - \bRAW\b: {from: title}
        - \bSpeed.Cd\b: {from: title} #slow
    domain_delay:
      torrentz.eu: 15 seconds
    magnets: no
    retry_failed:
      retry_time: 30 minutes
      retry_time_multiplier: 2 # Amount retry time will be multiplied by after each successive failure
      max_retries: 5
    deluge:
      main_file_only: yes
      keep_subs: yes
      path: /media/local/Downloading/
      main_file_ratio: 0.80 #remove torrent file after uploaded 80%
      removeatratio: yes

  tv_shows:
    include: [ my_series.yml ]
    exists_series:
      - /media/cloud_media/TV Shows/
      - /media/local/TV Shows/
      - /media/local/Downloading/
    content_size:
      min: 100 #MB
      max: 400 #MB
      strict: yes
    # Look up info on TheTVDB.com to fill in extra info
    thetvdb_lookup: yes
    # Add accepted entries to Deluge and make sure they end up in the correct folder with a nice name
    set:
      # Rename the "content file" to something nice, deluge specific
      content_filename: >
        {{ series_name|replace('/', '_')|replace(':', ' -') }} - {% if series_id_type == 'ep' and thetvdb_lookup_season_offset|default(False) %}{{ "S%0.2dE%0.2d"|format((series_season + thetvdb_lookup_season_offset),series_episode) }}{% else %}{{ series_id }}{% endif %}{% if ep_name|default(False) %} - {{ ep_name|replace('/', '_')|replace(':', ' -') }}{% endif %} - {{ quality }}
      movedone: "/media/local/TV Shows/{{series_name}}/Season {{series_season}}/"
      label: tv
      queuetotop: yes

##################################################################################
#TASKS
tasks:  
  tv_series_auto:
    priority: 1
    inputs:
      - rss: { url: 'https://torrentz.eu/feed?q=tv' }
    template:
      - my_global
      - tv_shows

  #Run this task to make flexget learn which episodes you already have in the file system
  seed_series_db:
    # The filesystem plugin will find all of your existing episodes
    filesystem:
      regexp: .*(avi|mkv|mpg|mp4)$
      path:
        - /media/cloud_media/TV Shows/
        - /media/local/TV Shows/
      recursive: yes
    include: [ my_series.yml ]
    # We use the manual plugin so that this task only runs when explicitly called
    manual: yes

##################################################################################
#SCHEDULES
schedules:
  - tasks: [ 'tv_series_auto' ]
    interval:
      hours: 2
